body {
    font-family: "Roboto", sans-serif;
}

.heading-container {
    background: linear-gradient(to right, #ffffff, #b8faef);
}

.todos-heading {
    text-align: center;
    font-size: 30px;
    color: #011318;
    font-weight: 700;
    margin: 0px;
}

.bg-container {
    background-color: #b8faef;
    padding: 8px;
    height: 100vh;
}

.heading {
    font-size: 20px;
    color: #011318;
    font-weight: 700;
}

.span-elements {
    font-weight: 400;
}

.input-task {
    width: 100%;
    height: 36px;
    border: 1px solid #303E46;
    border-radius: 5px;
    margin-bottom: 12px;
    padding-left: 12px;
}
.add-task-button {
    width: 100px;
    height: 36px;
    font-weight: 500;
    background-color: #82a7fd;
    border-radius: 12px;
    border: 0px;
    padding-bottom: 4px;
}
.my-tasks-card {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
}
.checkbox-input {
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.input-task-card {
    background-color: #82eefd;
    border-left: 6px solid  #0B6A64;
    border-radius: 8px;
    height: 32px;
    width: 100%;
    padding-left: 8px;
    padding-top: 4px;
    margin-left:8px;
}
.task-name {
   font-size: 14px;
   color: #021716;
   font-weight: 500;
   cursor: pointer;
}
.del-icon-container {
    margin-left: auto;
    margin-right: 12px;
    cursor: pointer;
}
.del-icon {
    color: #011318;
    font-size: 18px;
}

.checked {
    text-decoration: line-through;
    font-weight: 400;
}

.checked-container {
    background-color: #70f5b9;
}

.overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #151515;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 8px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  font-weight: 500;
}

.popup h1 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.popup p {
  font-size: 16px;
  margin: 10px;
}

.popup button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  height: 36px;
  width: 80px;
  cursor: pointer;
  font-size: 14px;
}